{% extends 'base.html' %}

{% block title %}
    Edit Article
{% endblock %}

{% block content %}
{#    <form action="{% url 'post:edit' article.id %}" method="post">#}
{#        <div class="form-group">#}
{#            {% csrf_token %}#}
{#            <label for="title">Title</label>#}
{#            <br>#}
{#            <input type="text" name="title" id="title" class="form-control"#}
{#                   value={{ article.title }}>#}
{#            <br>#}
{#            <label for="text">Article Area</label>#}
{#            <textarea name="text" id="text"#}
{#                      cols="30" rows="10" class="form-control">{{ article.text }}#}
{#            </textarea>#}
{#            <br>#}
{#            <button type="submit" class="btn btn-default">Edit Finish</button>#}
{#        </div>#}
{##}
{#    {% csrf_token %}#}
{##}
{#    </form>#}
{##}
{##}

    <form action="{% url 'post:edit' article.id %}" method="post">
    {% csrf_token %}
    {{ articleform.as_p }}
        <button class="btn btn-default" type="submit">Save</button>
    </form>

{% endblock %}